node_modules

# Buidler files
cache
artifacts
# Truffle
build

# Openzeppelin
.openzeppelin/.session
.openzeppelin/unknown-*.json
!.openzeppelin/unknown-97.json
!.openzeppelin/unknown-321.json

# Secrets
secretsManager.js

# rescript
.merlin
.bsb.lock
lib
