@tailwind base;
@tailwind components;

@import "./_fonts.css";

body {
  /* It is possible to make this a utility (https://tailwindcss.com/docs/plugins#adding-utilities)
      - but probably not worth the confusion
  */
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/backgrounds/2.png");
  @apply font-default min-h-screen w-screen bg-right-top bg-cover bg-gray-50;
}

.logo-container {
  @apply flex flex-row justify-between text-center;
}

.logo-image {
  @apply h-4 mr-10;
}

.logo-text {
  @apply h-10;
}

.trade-select {
  padding: 10px;
  width: calc(100%);
  outline: none;
}

.trade-input {
  padding: 6px;
  width: calc(100%);
  outline: none;
}

.trade-switch {
  margin: auto;
}

.trade-switch:hover {
  opacity: 0.6;
}

.trade-action {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 12px;
  background-color: #0d4184;
  color: white;
}

.screen-centered-container {
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.floating {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

.float-button-outer-container {
  position: relative;
  margin: 0.8rem 0rem;
}

.float-button-outer-container-tiny {
  margin: 0rem;
}

.float-button-container {
  margin-top: 2px;
  width: calc(100% - 0px);
  transform: translate(4px, 4px);
  border: 1px solid #0d4184;
  background-color: #0d4184;
  padding: 0.6rem -0.6rem 0.6rem 0.6rem;
  display: inline-block;
}

.float-button-container-small {
  transform: translate(4px, 4px) !important;
  padding: 0.6rem -1rem 0.6rem 0.6rem;
}

.float-button-container-tiny {
  transform: translate(0px, 0px) !important;
}

.float-button {
  width: calc(100% - 0px);
  transform: translate(-4px, -4px);
  transition: all 0.1s linear 0s;
  font-style: italic;
  font-weight: 300;
  font-family: menlo, sans-serif;
  padding: 0.6rem 1rem;
  border: 1px solid #0d4184;
  color: #0d4184;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.float-button-small {
  font-size: 12px !important;
  padding: 0.5rem 0.5rem !important;
  transform: translate(-2px, -2px) !important;
}

.float-button-tiny {
  font-size: 8px !important;
  padding: 0.2rem 0.2rem !important;
  transform: translate(-4px, -4px) !important;
}

.float-button:hover {
  transform: translate(-2px, -2px);
}
.float-button-small:hover {
  transform: translate(-4px, -4px);
}
.float-button:hover,
.float-button:focus {
  outline: none;
  border: 1px solid #0d4184;
  color: #0d4184;
  background-color: #fff;
}
.float-button:active {
  transform: translate(0px, 0px);
  outline: none;
  color: #fff;
  background-color: #0d4184;
}

.float-button::-moz-focus-inner {
  border: 0;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  /* background-color: #0d4184; */
}

@tailwind utilities;
