@tailwind base;
@tailwind components;

@import "./_fonts.css";
@import "./ellipsis-loader.css";
@import "./tick-animation.css";

#app {
  /* It is possible to make this a utility (https://tailwindcss.com/docs/plugins#adding-utilities)
      - but probably not worth the confusion
  */
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/backgrounds/2.png");
  @apply font-default min-h-screen w-screen bg-right-top bg-cover bg-gray-50;
}

.custom-cursor {
  cursor: url("/cursors/pointer-colorful-edit.png"), auto;
}

.logo-container {
  @apply flex flex-row justify-between text-center;
}

.logo-image {
  @apply h-4 mr-10;
}

.logo-text {
  @apply h-10;
}

.trade-select {
  padding: 10px;
  width: calc(100%);
  outline: none;
}

.trade-input {
  padding: 6px;
  width: calc(100%);
  outline: none;
}

.trade-switch {
  margin: auto;
}

.trade-switch:hover {
  opacity: 0.6;
}

.trade-action {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 12px;
  background-color: #0d4184;
  color: white;
}

.screen-centered-container {
  width: 100%;
  height: 100%;
}

.v-align-in-responsive-height {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.floating {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* Stop firefox from putting this style on button when focused */
button::-moz-focus-inner {
  border: 0;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  /* background-color: #0d4184; */
}

.animated-color-progress-bar {
  background: linear-gradient(90deg, #0d4184, #367faa);
  background-size: 400% 400%;
  -webkit-animation: colorAnimation 2s ease infinite;
  -moz-animation: colorAnimation 2s ease infinite;
  animation: colorAnimation 2s ease infinite;
}

@-webkit-keyframes colorAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes colorAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes colorAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@tailwind utilities;
